@page "/product-catalogue"
@inject ProductService ProductService

<h3>Product Catalogue</h3>

<div class="row">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Type</p>
                    <p class="card-text">@product.Colours</p>
                </div>
            </div>
        </div>
    }
</div>